body {background-image: url(Pozadi.jpg) ;
     background-size:cover;
     background-repeat: no-repeat;
     font-family: sans-serif;
     font-style: italic;
    }
.hr {
    background-color:brown; border-color: brown; color:brown; 
}
h1, h2 {
    text-align: center;
       margin-bottom: 10px;
       font-weight: 900;
    } 
.est {
    text-align: center;
       margin-top: -10px
    }      
.názvy {
    text-align: start;
}
.ceny {
    text-align: end;
}
.Jídlo {
    display: flex;
padding: 20px;
}
* {
    text-align: center;
}
img {
    width:48px ;height: 36px;
}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.vsechno {
    background-color:rgba(222, 184, 135, 0.7);
max-width:500px;
margin:0 auto;
padding:20px
}
a {color:black}
